Repository italia/eid-wallet-it-docs, pull requests merged in 2023-07, with the labels that each got.

#14 feat: Wallet Instance Attestation
  .github/workflows/gh-pages.yml
  .gitignore
  docs/en/wallet-instance-attestation.rst
  images/dynamic_view_sequence_wallet_instance_attestation.svg
  images/static_view_wallet_instance_attestation.svg
Labels: wallet-solution

#12 feat: trust model
  README.md
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/defined-terms.rst
  docs/en/index.rst
  docs/en/ssi-introduction.rst
  docs/en/trust.rst
  docs/en/wallet-solution.rst
  images/trust-roles.svg
Labels: trust-model

#43 chore: [pid issuance] moved EC to the end of the section
  docs/en/pid-issuing.rst
Labels: editorial

#41 fix: [issuance] editorials
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/index.rst
  docs/en/issuance.rst
  docs/en/pid-issuance.rst
Labels: editorial

#65 Preview on release
  .github/workflows/gh-pages.yml
  README.md
Labels: CI

#61 contribute.rst
  docs/en/contribute.rst
Labels: introduction

#59 fix: wallet_provider metadata type
  docs/en/wallet-instance-attestation.rst
Labels: wallet-solution

#67 fix!: Wallet Instance Attestation typ value according to VC HAIP
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/wallet-instance-attestation.rst
Labels: wallet-solution

#60 wallet-instance-attestation changes
  docs/en/wallet-instance-attestation.rst
  docs/en/wallet-solution.rst
Labels: enhancement, wallet-solution, editorial, standardization

#76 Relying Party PE, media-type for EC and normative language section
  docs/en/defined-terms.rst
  docs/en/relying-party-solution.rst
  docs/en/trust.rst
Labels: bug, editorial

#70 (Q)EAA issuance and data model
  .github/workflows/gh-pages.yml
  docs/en/defined-terms.rst
  docs/en/index.rst
  docs/en/pid-eaa-data-model.rst
  docs/en/pid-eaa-issuance.rst
  images/High-Level-Flow-EUDIW-PID-Issuing.svg
  images/High-Level-Flow-ITWallet-PID-Issuance.svg
  images/High-Level-Flow-ITWallet-QEAA-Issuance.svg
  images/Low-Level-Flow-EUDIW-PID-Issuing.svg
  images/Low-Level-Flow-ITWallet-PID-QEAA-Issuance.svg
Labels: feature, issuance
