Repository italia/eid-wallet-it-docs, pull requests merged in 2023-11, with the labels that each got.

#155 fix!: attested_security_context -> aal
  docs/en/wallet-instance-attestation.rst
  docs/en/wallet-solution.rst
Labels: wallet-solution, standardization

#160 fix!: sd-jwt type -> vct
  docs/en/pid-eaa-data-model.rst
Labels: issuance, standardization

#159 fix: vp formats
  docs/en/relying-party-solution.rst
  docs/en/trust.rst
  docs/en/wallet-instance-attestation.rst
Labels: wallet-solution, presentation, editorial, standardization

#166 Mdoc datamodel
  docs/en/pid-eaa-data-model.rst
Labels: enhancement, issuance
