Repository italia/eid-wallet-it-docs, pull requests merged in 2024-02, with the labels that each got.

#204 fix: VCI metadata aligned with OpenID4VCI ID-1
  docs/en/pid-eaa-issuance.rst
Labels: issuance

#208 Issuance: c_nonce and jwt proof clarification
  docs/en/pid-eaa-issuance.rst
Labels: editorial

#143 Revocation request flow and Non-Revocation Attestation issuance flow
  docs/en/defined-terms.rst
  docs/en/revocation-lists.rst
  images/High-Level-Flow-Status-Attestation.svg
  images/Low-Level-Flow-Revocation-Attestation.svg
  images/Low-Level-Flow-Revocation.svg
Labels: revocation

#217 fix!: removed IDA from vc datamodel
  docs/en/pid-eaa-data-model.rst
Labels: issuance, presentation, breaking change
