Repository italia/eid-wallet-it-docs, pull requests merged in 2024-10, with the labels that each got.

#427 clear statement about kb-jwt pop
  docs/en/remote-flow.rst
Labels: presentation

#430 chore: Add missing params on Attestation Request
  docs/en/wallet-attestation.rst
Labels: wallet-solution

#431 chore: Clarification on step 2 for Wallet Attestation Request
  docs/en/wallet-attestation.rst
  images/wallet_instance_initialization.svg
Labels: wallet-solution

#443 normative language inconsistency
  docs/en/defined-terms.rst
  docs/en/ssi-introduction.rst
  docs/en/trust.rst
Labels: trust-model

#444 Security considerations
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/index.rst
  docs/en/security-privacy-considerations.rst
  images/Eo_circle_orange_checkmark.svg
Labels: security

#414 Implementing Acts terms inclusion and alignments
  docs/en/defined-terms.rst
Labels: wallet-solution
