Repository italia/eid-wallet-it-docs, pull requests merged in 2024-09, with the labels that each got.

#395 fix: fixed request object params + credential request params according to oid4vci draft13
  docs/en/pid-eaa-issuance.rst
  examples/credential-request.json
  examples/ec-eaa.json
  examples/request-object-payload.json
Labels: bug, issuance

#397 Scope parameter issue 177
  docs/en/pid-eaa-entity-configuration.rst
  docs/en/pid-eaa-issuance.rst
  examples/request-object-payload.json
Labels: issuance

#405 Reorganization of issuance introductionary section
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/defined-terms.rst
  docs/en/pid-eaa-issuance.rst
Labels: issuance, editorial

#410 fix: removed format parameter from credential response example
  examples/credential-response.json
Labels: issuance

#412 fix: kid is not required in sd-jwt hkb
  docs/en/remote-flow.rst
Labels: presentation
