Repository italia/eid-wallet-it-docs, pull requests merged in 2024-07, with the labels that each got.

#347 Add Wallet Provider Backend definition term
  docs/en/defined-terms.rst
  docs/en/wallet-attestation.rst
Labels: wallet-solution, editorial

#348 add nonce_endpoint parameter in wallet provider metadata
  docs/en/wallet-solution.rst
Labels: wallet-solution

#349 fix: Wallet Attestation Request
  docs/en/wallet-attestation.rst
Labels: wallet-solution, breaking change

#366 Additional clarifications about WP checks with WI
  docs/en/wallet-attestation.rst
Labels: wallet-solution

#356 Fix non-normative example of HTTP response in the Presentation Remote Flow
  docs/en/remote-flow.rst
Labels: standardization, breaking change

#327 Aligning Wallet Instance Attestation with Attestation-Based Client Authentication via HTTP Headers
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/pid-eaa-issuance.rst
  docs/en/wallet-attestation.rst
Labels: breaking change

#251 fix: Presentation of SD-JWT are not enveloped anymore in a VP JWT
  docs/common/common_definitions.rst
  docs/common/standards.rst
  docs/en/algorithms.rst
  docs/en/pid-eaa-data-model.rst
  docs/en/remote-flow.rst
Labels: breaking change
